.container {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
}

.container2 {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);

}


* {
    
    padding: 0;
    margin: 0;

}

nav {

    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: blanchedalmond;
    align-items: center;

}

ul{

    display: flex;

}

a{

    padding-left: 20px;
    text-decoration: none;
    color: black;

}

a:hover{

    color: forestgreen;

}

img {

    border: 1px solid black;
    border-radius: 30px;
    
}

img:hover{

    cursor: pointer;
    opacity: 0.7;

}

.texto{

    width: 50%;
    border-radius: 5px;
    padding: 20px;  
    background-color: rgb(247, 240, 240);
    text-align: center;
    max-height: 87vh;
    
}
